/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: 5px;
}
ul a {
  color: white;
}

/* HEADER */
header {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 105, 0);
  padding: 10px;
  color: white;
  position: fixed;
  z-index: 9999;
  font-size: 1.2rem;
}
.container-header {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sex {
  flex-basis: 30%;
  display: flex;
  gap: 10px;
}

.logo {
  flex-basis: 30%;
  text-align: center;
}
.account {
  flex-basis: 30%;
  text-align: right;
}

/* MAIN */
.container {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section {
  padding: 100px;
}
/* COLONNE */
.cl-30 {
  width: 30%;
  margin-bottom: 80px;
}
/* Testo all’interno delle colonne */
.cl-30 p {
  font-size: 0.8rem;
}

.cl-30 h2 {
  font-size: 1rem;
}
/* STILI PREZZI */
.price {
  font-size: 1rem;
  margin-right: 5px;
}
.sales {
  color: red;
}
.full-price {
  text-decoration: line-through;
}
/* CARD PRODOTTO
   Contenitore dell’immagine con hover */
.card {
  position: relative;
}
/* Immagine principale */
.img {
  position: relative;
  z-index: 1;
}
/* Immagine al passaggio del mouse */
.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
/* Effetto hover: mostra l’immagine alternativa */
.card:hover .img-hover {
  opacity: 1;
}
.card:hover .img {
  opacity: 0;
  cursor: pointer;
}
/* BADGE SCONTO (-50%)*/

.discount {
  position: absolute;
  bottom: 30px;
  z-index: 3;
  background-color: red;
  padding: 2px;
}
/* ALTRO BADGE 
   Accanto al badge sconto */
.text {
  position: absolute;
  bottom: 30px;
  left: 43px;
  z-index: 3;
  background-color: green;
  padding: 2px;
  color: white;
}
.Sweater {
  left: 0px;
}
/* Cuore inaltro a destra */
.heart {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
footer {
  background-color: rgba(26, 26, 26);
  padding: 30px;
  color: white;
  height: 100%;
}
.container-footer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.text-footer h2 {
  margin-bottom: 10px;
}
.social p {
  margin-bottom: 10px;
}
